<a href="https://colab.research.google.com/github/Ayiekoo/3D-numpy-plots/blob/main/DATAFRAME.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

# Connect to the SQLite database
sql_connection = sqlite3.connect('database.db')
cursor = sql_connection.cursor()

# Create a new table
create_table_query = '''
CREATE TABLE IF NOT EXISTS employees (
    employee_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    department TEXT NOT NULL,
    salary REAL NOT NULL,
    hire_date TEXT NOT NULL
)
'''
cursor.execute(create_table_query)
sql_connection.commit()

In [2]:
# Insert data into the table
insert_data_query = '''
INSERT INTO employees (first_name, last_name, department, salary, hire_date)
VALUES
    ('John', 'Doe', 'HR', 50000, '2022-01-15'),
    ('Jane', 'Smith', 'Engineering', 75000, '2021-08-30'),
    ('Sam', 'Brown', 'Marketing', 60000, '2019-04-22'),
    ('Emily', 'Davis', 'Finance', 65000, '2020-11-02'),
    ('Michael', 'Wilson', 'Engineering', 80000, '2023-06-10')
'''
cursor.execute(insert_data_query)
sql_connection.commit()

In [3]:
import pandas as pd

# Query to retrieve all entries of the table
query_all_entries = 'SELECT * FROM employees'
df_all_entries = pd.read_sql(query_all_entries, sql_connection)
print("All entries:")
print(df_all_entries)

All entries:
   employee_id first_name last_name   department   salary   hire_date
0            1       John       Doe           HR  50000.0  2022-01-15
1            2       Jane     Smith  Engineering  75000.0  2021-08-30
2            3        Sam     Brown    Marketing  60000.0  2019-04-22
3            4      Emily     Davis      Finance  65000.0  2020-11-02
4            5    Michael    Wilson  Engineering  80000.0  2023-06-10

In [4]:
# Query to retrieve total number of employees in the table
query_count_entries = 'SELECT COUNT(*) FROM employees'
df_count_entries = pd.read_sql(query_count_entries, sql_connection)
print("Total number of employees:")
print(df_count_entries)

Total number of employees:
   COUNT(*)
0         5

In [6]:
# Query to retrieve all entries of employees in the 'Engineering' department
query_specific_department = "SELECT * FROM employees WHERE department = 'Engineering'"
df_specific_department = pd.read_sql(query_specific_department, sql_connection)
print("Employees in Engineering department:")
print(df_specific_department)

Employees in Engineering department:
   employee_id first_name last_name   department   salary   hire_date
0            2       Jane     Smith  Engineering  75000.0  2021-08-30
1            5    Michael    Wilson  Engineering  80000.0  2023-06-10

In [7]:
# Query to retrieve all employees with a salary greater than 60000
query_high_salary = 'SELECT * FROM employees WHERE salary > 60000'
df_high_salary = pd.read_sql(query_high_salary, sql_connection)
print("Employees with salary greater than 60000:")
print(df_high_salary)

Employees with salary greater than 60000:
   employee_id first_name last_name   department   salary   hire_date
0            2       Jane     Smith  Engineering  75000.0  2021-08-30
1            4      Emily     Davis      Finance  65000.0  2020-11-02
2            5    Michael    Wilson  Engineering  80000.0  2023-06-10

In [8]:
# Query to retrieve the average salary of employees in the 'Engineering' department
query_avg_salary = "SELECT department, AVG(salary) as avg_salary FROM employees WHERE department = 'Engineering'"
df_avg_salary = pd.read_sql(query_avg_salary, sql_connection)
print("Average salary in Engineering department:")
print(df_avg_salary)

Average salary in Engineering department:
    department  avg_salary
0  Engineering     77500.0

In [9]:
# Query to retrieve employees hired after '2020-01-01'
query_hire_date = "SELECT * FROM employees WHERE hire_date > '2020-01-01'"
df_hire_date = pd.read_sql(query_hire_date, sql_connection)
print("Employees hired after 2020-01-01:")
print(df_hire_date)

# Close the connection
sql_connection.close()

Employees hired after 2020-01-01:
   employee_id first_name last_name   department   salary   hire_date
0            1       John       Doe           HR  50000.0  2022-01-15
1            2       Jane     Smith  Engineering  75000.0  2021-08-30
2            4      Emily     Davis      Finance  65000.0  2020-11-02
3            5    Michael    Wilson  Engineering  80000.0  2023-06-10